# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Jetbrains
.idea/*
cmake-build-debug
cmake-build-release

# VCPKG
vcpkg/

# BUILD
build/

# VS
.vscode/
.vs/
CMakeSettings.json

# macOS thumbnails
.DS_Store