@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  height: 100%;
  margin: 0;
  background-color: rgb(183, 206, 143);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  background-color: rgb(206, 143, 203);
  /* max-width: 38rem; */
  /* padding: 1rem; */
  /* width: 90%; */
}
