Package: websocketpp
Version: 0.8.2
Port-Version: 3
Architecture: x64-windows
Multi-Arch: same
Abi: c9f56edac7942331690023c0c4458d2b01b30a1d9b9a7b8b379bf13b48f13591
Description: Library that implements RFC6455 The WebSocket Protocol
Default-Features: recommended

Package: websocketpp
Feature: recommended
Depends: boost-asio, openssl, zlib
Architecture: x64-windows
Multi-Arch: same
Description: Use recommended dependencies
