name: Check format

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  format:
    name: Check frontend formatting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Check frontend formatting
        uses: creyD/prettier@v4.3.0
        with:
          prettier_options: --check .
          # This is needed to install the Prettier Svelte plugin
          allow_other_plugins: true
