name: Check format

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  format:
    name: Check frontend formatting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Format frontend using Prettier
        uses: actionsx/prettier@v3
        with:
          args: --check .
